.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: hsla(75, 0%, 100%, 0.29);
}

.heading_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 960px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: 'Titillium Web', sans-serif;
  color: #6b4631;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.body {
  padding-right: 5%;
  padding-left: 5%;
  background-color: #dcc5a8;
  background-image: none;
  font-family: 'Titillium Web', sans-serif;
  color: #6b4631;
}

.heading {
  margin-top: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 0.4em;
  line-height: 1.3;
  font-weight: 300;
  text-align: center;
}

.link_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 500px;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  margin: 40px 10px 0px;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #ad8f6b;
  border-radius: 12px;
  background-color: #ad8f6b;
  box-shadow: 0 20px 15px -10px rgba(94, 50, 26, 0.76);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}

.link-block:hover {
  box-shadow: none;
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.heading-2 {
  color: #fff;
  font-size: 2em;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.container {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn_arc {
  position: absolute;
  left: 50%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -10;
  display: none;
  width: 100%;
  max-width: 60%;
  opacity: 0.05;
}

.top-bar {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.bankbtnlogo {
  width: 170px;
  margin-right: 20px;
  margin-left: 20px;
}

.image-3 {
  width: 170px;
}

.image-4 {
  width: 170px;
}

.image-5 {
  max-width: 30%;
}

.image-6 {
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.div_main {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

.heading-3 {
  margin-bottom: 40px;
  font-size: 3em;
  line-height: 1.5;
  font-weight: 600;
}

.image-8 {
  width: 170px;
}

.div_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-9 {
  margin-right: 5px;
}

.text-block {
  font-size: 1.5em;
  font-weight: 600;
}

.data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bg_img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  opacity: 0.5;
}

.tiger {
  position: absolute;
  left: auto;
  top: auto;
  right: -30%;
  bottom: 0%;
  width: 50%;
}

.image-10 {
  position: absolute;
  left: -30%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: 50%;
}

@media screen and (max-width: 991px) {
  .hero {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .btn_arc {
    max-width: 80%;
  }

  .image-3 {
    width: 160px;
  }

  .heading-3 {
    font-size: 3em;
  }

  .bg_img {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
  }

  .tiger {
    left: auto;
    top: 10%;
    right: -30%;
    bottom: auto;
  }

  .image-10 {
    left: -30%;
    top: 10%;
    right: auto;
    bottom: auto;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .heading_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading {
    font-size: 0.4em;
  }

  .link-block {
    height: 90px;
  }

  .container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .btn_arc {
    max-width: 100%;
  }

  .bankbtnlogo {
    width: 100px;
  }

  .image-3 {
    width: 100px;
  }

  .image-4 {
    width: 100px;
  }

  .image-6 {
    width: 30px;
  }

  .heading-3 {
    font-size: 1.9em;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .heading_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .body {
    background-clip: padding-box;
    -webkit-text-fill-color: inherit;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .link-block {
    height: 70px;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }

  .button_caption {
    color: #ad8f6b;
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: 300;
    text-align: left;
  }

  .top-bar {
    display: -ms-grid;
    display: grid;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .bankbtnlogo {
    width: 130px;
    max-height: 60px;
  }

  .image-3 {
    width: 130px;
  }

  .image-4 {
    width: 130px;
  }

  .image-6 {
    width: 40px;
    max-height: 70px;
  }

  .div_flex {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-9 {
    margin-bottom: 10px;
  }

  .data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#w-node-_29c4b3bb-0539-5b46-2544-31a1a7607398-1f0ead6f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-abbda054-9b00-6633-3067-9b3c409406f3-1f0ead6f {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-df25f596-7787-5c27-3717-5d7a499d5255-1f0ead6f {
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-abbda054-9b00-6633-3067-9b3c409406f3-1f0ead6f {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-df25f596-7787-5c27-3717-5d7a499d5255-1f0ead6f {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

